# --- Terraform ---
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log

# Ignore sensitive Terraform variables
*.tfvars
*.tfvars.json

# Ignore Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform CLI configuration files
.terraformrc
terraform.rc

# Ignore Terraform plan output files
*tfplan*

# --- Node.js (Backend & Frontend) ---
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# --- React / Frontend Build ---
/build
/.cache
/.next
.next/
/dist
/public/static
out/

# --- Environment variables ---
.env
.env.local
.env.*.local

# --- Misc ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml
